<td>{{track.sequence}}</td>
<td>{{track.name}}</td>
<td>{{me-duration track.duration}}</td>
<td class="text-right">
  {{#if isPlaying}}
    <span class="glyphicon glyphicon-volume-up"></span>
  {{/if}}
</td>
