html, body, body > div {
  height: 100%;
}

.control-bar {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 1px #ccc;
  height: 60px;
}

.app {
  min-height: calc(100% - 60px);
  display: flex;
  justify-content: flex-start;
}

.app__master {
  width: 400px;
}

.app__detail {
  position: relative;
  width: 100%;
  border-left: 1px solid #ddd;
}

.artist-link {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.artist-link:hover {
  background: #eee;
}

.artist-link__media {
  width: 75px;
  height: 75px;
  border: 1px solid #ddd;
  padding: 2px;
  margin-right: 10px;
}

.artist-link img {
  width: 100%;
}

.banner {
  position: relative;
  margin-bottom: 15px;
}

.banner img {
  width: 100%
}

.banner h1 {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px 15px;
  color: #fff;
}

.album-tile {
  margin-bottom: 15px
}

.album-tile img {
  width: 100%;
  padding: 2px;
  border: 1px solid #ddd;
}
