<div class="container-fluid">
  {{#each model as |album|}}
    <div class="row">
      <div class="col-md-3">
        <div class="album-tile">
          <img src="{{album.artworkUrl}}"/>
        </div>
      </div>

      <div class="col-md-9">
        <h4>{{album.name}}</h4>

        <table class="table">
          <tbody>
            {{#each album.tracks as |track|}}
              {{me-track-row track=track}}
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  {{/each}}
  {{#link-to "artists.show.albums.new"}}New Album{{/link-to}}
  {{outlet}}
</div>
