<div class="row">
  <div class="col-md-3">
    {{#each model as |artist|}}
      <a class="artist-link">
        <img src="{{artist.thumbnailUrl}}"/>

        <h4>{{artist.name}}</h4>
      </a>
    {{/each}}
  </div>

  <div class="col-md-9">
    {{outlet}}
  </div>
</div>
