<div class="row">
  <div class="col-md-3">
    {{#each model as |artist|}}
    {{#link-to "artists.show" artist class="artist-link"}}
        <img src="{{artist.thumbnailUrl}}"/>

        <h4>{{artist.name}}</h4>
      {{/link-to}}
    {{/each}}
  </div>

  <div class="col-md-9">
    {{outlet}}
  </div>
</div>
